.index {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 24rpx;
  box-sizing: border-box;
  background-color: #f6f6f6;
  .detail {
    width: 100%;
    padding: 24rpx;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 24rpx;
    box-shadow: 4rpx 4rpx 14rpx rgba($color: #000000, $alpha: 0.1);
    .title {
      font-size: 32rpx;
      color: #333333;
    }
    .item {
      margin-top: 26rpx;
      font-size: 26rpx;
      color: #333333;
    }

    .next {
      margin-top: 26rpx;
      width: 100%;
      height: 80rpx;
      line-height: 80rpx;
      border-radius: 24rpx;

      // display: flex;
      // align-items: center;
      // justify-content: center;
      .next-text {
        font-size: 26rpx;
        position: relative;
        bottom: 2rpx;
      }
    }
  }
}
.bold {
  color: #333333;
  font-weight: bold;
}
.light {
  color: #999999;
}
